.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.top {
  display: flex;
}

.imgContainer {
  height: 300px;
  position: relative;
  flex: 3;
}

.img {
  object-fit: cover;
}

.date {
  font-size: 1.2rem;
  transform: rotate(270deg);
  margin: auto;
  flex: 1;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 20px;
  width: 75%;
}

.desc {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
  width: 75%;
}

.link {
  text-decoration: underline;
}
